extends layout 

block content 
    link(rel='stylesheet', href='/stylesheets/message.css')
    <div class=form-container>
        <h2 id=title>#{title}</h2>
        <form class="login" action="" method="POST">
            <div class="userinfo">
                <label for="title">Title</label>
                <input name="title" placeholder="Title" type="text" />
                <label for="text">Message</label>
                <textarea name="text" placeholder="text" type="textarea"> </textarea>
            </div>
            if(errors)
                ul
                    each error in errors 
                        li=error.msg
            <button>Post</button>
        </form> 
    </div>