.form-container,
.container {
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px solid black;
    border-radius: 24px;
    margin: 5% 20% 0px 20%;
    padding: 5%;
    background: linear-gradient(#7D1827 5%, red 49%, black 5%, white 49%, #CADBD1);

}

.admin {
    display: flex;
    flex-direction: column;
    width: 100%; 
}
.admin>* {
    display: flex;
    flex-direction: column;
}

label {
    padding: 10px 0px 5px 0px;
}

.admin>button {
    align-self: flex-start;
    margin-top: 10px;
    min-width: 10%;
    font-size: large;
    background-color: red;
    color: white;
    border-radius: 10px;
}

input {
    font-size: large;
}